

@model DenisAccounting.Models.Operations.IndexViewModel
<tr>
    <td>@Model.Date</td>
    <td>@Model.Amount</td>
    <td>@Model.CategoryName</td>
    <td>@Model.Description</td>
    <td>@Html.ActionLink("Details", "Details", new { id = Model.Id})</td>
<tr>