@using DenisAccounting.Models.Operations;
@using DenisAccounting.Extensions

@model OperationsListViewModel

@*<div class="form-group">
    <h5>Filter Amount</h5>
    <div class="col-md-3">
        @Html.EditorFor(model => model.Filtering.AmountText, new { htmlAttributes = new { @class = "form-control", @data_val = "true" } })
        <div class="col-md-10">
            @Html.ValidationMessageFor(model => model.Filtering.AmountText)
        </div>
    </div>
    <input type="button" value="Filter" onclick="location.href='@Url.Action("Index", "Operation", new { page = Model.Paging.Page, sortedBy = Model.Sorting.SortedBy })'" />
    </div>*@

@{
        var newSortingDate = new Sorting
        {
            SortedBy = Sorting.SortType.Date,
            Ascending = Model.Sorting.SortedBy == Sorting.SortType.Date
        };

        var newSortingAmount = new Sorting
        {
            SortedBy = Sorting.SortType.Amount,
            Ascending = Model.Sorting.SortedBy == Sorting.SortType.Amount
        };
    
 }

<table style="width:100%">
    <tr>
        <td>@Html.ActionLinkEx("Date", "Index", newSortingDate, Model.Paging)</td>
        <td>@Html.ActionLinkEx("Amount", "Index", newSortingAmount, Model.Paging)</td>
        <td>Category</td>
        <td>Description</td>
    </tr>
    @foreach (var operation in Model.Operations)
    {
        Html.RenderPartial("_operationRow", operation);
    }
</table>